<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="Dmitry Sharabin" />
	<meta name="keywords" content="HTML,CSS,Mavo" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Mavo -->
	<link rel="stylesheet prefetch" href="https://get.mavo.io/mavo.min.css" />
	<script src="https://get.mavo.io/mavo.min.js"></script>

	<link rel="stylesheet prefetch" href="style.css" />
	<link rel="icon"
		href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">💬</text></svg>' />

	<title>Mavo Chat</title>
</head>

<body>
	<main mv-app="chat" mv-bar="no-status no-save no-login" mv-mode="read" mv-plugins="firebase-firestore markdown"
		mv-storage="firebase://mavo-demos/chat-rooms/[current_room]" mv-storage-key="AIzaSyDvZ3EBuhlvFm529vMPeU7dbqvdkjv9WQU"
		mv-storage-providers="twitter facebook google github" mv-storage-options="realtime">

		<div class="mv-bar">
			<h1>Mavo Chat</h1>
			<p>Log in using your account</p>
			<button class="mv-firebase-auth-google">Log in with Google</button>
			<button class="mv-firebase-auth-facebook">Log in with Facebook</button>
			<button class="mv-firebase-auth-twitter">Log in with Twitter</button>
			<button class="mv-firebase-auth-github">Log in with GitHub</button>
			<button class="mv-logout" aria-label="Logout" title="Logout"><img src="images/exit.svg" width="48" height="48" aria-hidden="true" /></button>
		</div>

		<!-- Logged-in user -->
		<meta property="userId" content="[$user.info.uid]" mv-if="false" />
		<meta property="username" content="[$user.name or $user.info.email]" mv-if="false" />
		<meta property="avatar" content="[$user.avatar]" mv-if="false" />

		<meta property="current_room" content="General" mv-storage="none" mv-if="false" />
		<meta property="adding" content="[false]" mv-storage="none" mv-if="false" />

		<section id="no-messages" mv-if="userId and count(messages) = 0">
			<p>No messages yet.<br />Be the first to send one. 😉</p>
		</section>

		<section id="rooms" mv-if="userId">
			<h2>Rooms <button aria-label="Add room" title="Add room" mv-action="set(adding, true)" disabled="[adding]">✚</button></h2>

			<ul mv-list mv-value="all_rooms.rooms">
				<li mv-list-item="room" class="[if(current_room = $item.name, active)]" mv-action="if(current_room != $item.name, clear(messages) & set(current_room, $item.name))" mv-group>[name]</li>
			</ul>

			<meta property="new_room" content="[group(name: name, creator: userId, created: $now)]" mv-if="false" />
			<form mv-action="if(name.trim() != '', add(new_room, all_rooms.rooms) & set(adding, false) & set(name, ''))" mv-if="adding">
				<input type="text" property="name" mv-storage="none" placeholder="Type room name" />
				<input type="submit" value="Add" disabled="[(name or '').trim() = '']" />
				<input type="reset" value="Cancel" mv-action="set(name, '') & set(adding, false)" />
			</form>
		</section>

		<section mv-list="messages" mv-initial-items="0" mv-if="userId and count($this) > 0">
			<article mv-list-item mv-mode="[mode or read]"
				class="mv-logged-in [if(sender.uid = userId, 'mine')] [if(deleted, 'deleted')] [if(sender.uid = $next.sender.uid and $next.timestamp - timestamp <= hour(), 'thread')]">

				<meta property="mode" mv-storage="none" mv-if="false" />
				<meta property="deleted" datatype="boolean" mv-if="false" />
				<meta property="deleted_message" mv-if="false" />

				<figure property="sender">
					<img property="avatar" alt="Avatar" width="28" loading="lazy" mv-if="sender.uid != $next.sender.uid or $next.timestamp - timestamp > hour()" />
					<figcaption property="name" mv-if="sender.uid != $previous.sender.uid or timestamp - $previous.timestamp > hour()">Anonymous</figcaption>
				</figure>

				<p property="message" class="markdown"></p>

				<p class="timestamp" mv-if="$index = 0 or timestamp - $previous.timestamp > hour()">
					[month(timestamp, "shortname")]&nbsp;[day(timestamp)],
					<span mv-if="year(timestamp) != year($today)">[year(timestamp)],</span>
					[time(timestamp, "minutes")]
				</p>

				<div class="action-buttons" mv-if="sender.uid = userId">
					<button class="action-button" mv-if="!deleted and (!mode or mode = read)" mv-action="set(mode, edit)"
						title="Edit message" aria-label="Edit message">✏️</button>
					<button class="action-button" mv-if="mode = edit" mv-action="set(mode, read) save(true)"
						title="Save changes" aria-label="Save changes">💾</button>
					<button class="action-button" mv-if="mode = edit" mv-action="set(mode, read)"
						title="Don't save changes" aria-label="Don't save changes">🔙</button>

					<button class="action-button" mv-if="deleted and deleted_message" mv-action="set(message, deleted_message) set(deleted_message, '') set(deleted, false) save()"
						title="Restore message" aria-label="Restore message">↩️</button>
					<button class="mv-delete" mv-if="!deleted" mv-action="set(deleted_message, message) set(message, '') set(deleted, true) save()"
						title="Delete message" aria-label="Delete message">❌</button>
				</div>
			</article>
		</section>

		<!-- 	A hack to scroll to the last message -->
		<div id="end"></div>

		<form mv-if="userId" mv-action="if(message.trim() != '',
				add(group(message: message, sender: group(uid: userId, name: username, avatar: avatar), timestamp: $now), messages) &
				set(message, '') &
				save()
			)
		">
			<input property="message" mv-storage="none" placeholder="Type a message" autofocus />
			<button type="submit" aria-label="Send message" title="Send message" disabled="[(message or '').trim() = '']"><img src="images/send.svg" width="48" height="48" aria-hidden="true" /></button>
		</form>
	</main>

	<div hidden mv-app="all_rooms" mv-bar="none" mv-autosave
		mv-plugins="firebase-firestore" mv-storage="firebase://mavo-demos/chat-rooms/all-rooms"
		mv-storage-key="AIzaSyDvZ3EBuhlvFm529vMPeU7dbqvdkjv9WQU" mv-storage-options="auth realtime">
		<ul mv-list="rooms" mv-initial-items="0" mv-if="false">
			<li mv-list-item></li>
		</ul>
	</div>

	<script>
		(async () => {
			await Mavo.ready;

			Mavo.DOMExpression.special.event("$user", {
				type: "mv-login mv-logout",
				update: (evt) => evt.backend?.user ?? {}
			});
		})();

		$.bind(document, "mv-load mv-save", () => {
			requestAnimationFrame(() => { // Give the browser a chance to render
				$("#end").scrollIntoView();
			});
		});

		function save(editing = false) {
			const app = Mavo.all["chat"];

			if (editing && !app.unsavedChanges) {
				return;
			}

			app.save();
		}
	</script>
</body>

</html>
