:root {
	--font-body: system-ui, sans-serif;

	--color: white;
	--bg-color: #4299e1;
	--bubble-color: #2d3748;
	--bubble-bg-color: #edf2f7;

	--avatar-size: 2em;

	--gradient: linear-gradient(to left, hsl(341 65% 48%), hsl(285 40% 38%));

	block-size: 100vh;
	background-color: #f7fafc;
}

body {
	inline-size: clamp(360px, 100%, 600px);
	block-size: 100%;
	margin: auto;

	display: grid;
	place-items: center;

	font: 14px var(--font-body);
}

[mv-app] {
	inline-size: 100%;

	display: grid;

	background-color: white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

[mv-permissions~="login"] {
	background-color: inherit;
	box-shadow: none
}

[mv-permissions~="login"] .mv-bar {
		margin: auto;

		display: grid;
		grid-template-columns: repeat(4, 5.5em);
		grid-template-rows: repeat(3, auto);
		place-items: center;
		gap: .5em
	}

[mv-permissions~="login"] .mv-bar h2 {
			margin: 0;

			font-size: 800%;
			font-weight: 900;
			text-align: center;
			letter-spacing: -.03em;

			white-space: nowrap;

			color: transparent;
			-webkit-background-clip: text;
			background-image: var(--gradient);
		}

[mv-permissions~="login"] .mv-bar :where(h2, p) {
			grid-column: span 4;
		}

[mv-permissions~="login"] .mv-bar > p {
			color: hsl(216 15% 52%);
			font-size: 110%;
			font-weight: 300;
		}

[mv-permissions~="login"] .mv-bar button {
			all: unset;

			border-radius: 50%;

			text-indent: -10000px;
  		white-space: nowrap;

			inline-size: 5em;
			aspect-ratio: 1;

			background-position: center;
			background-size: 60%;
			background-repeat: no-repeat;
			background-color: hsl(285 40% 38%);

			cursor: pointer
		}

[mv-permissions~="login"] .mv-bar button[class*="auth-google"] {
				background-image: url("images/logo-google.svg");
			}

[mv-permissions~="login"] .mv-bar button[class*="auth-facebook"] {
				background-image: url("images/logo-facebook.svg");
				background-size: 52%;
			}

[mv-permissions~="login"] .mv-bar button[class*="auth-twitter"] {
				background-image: url("images/logo-twitter.svg");
			}

[mv-permissions~="login"] .mv-bar button[class*="auth-github"] {
				background-image: url("images/logo-github.svg");
				background-size: 75%;
			}

[mv-permissions~="login"] .mv-bar button:where(:hover, :active, :focus) {
				filter: hue-rotate(45deg) brightness(120%);
			}

[mv-permissions~="logout"] {
	grid-template-rows: auto 1fr auto;
	align-items: end
}

[mv-permissions~="logout"] .mv-bar {
		display: flex;
		align-items: center;

		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;

		padding-inline-start: 1em;

		color: var(--color);
		background-image: var(--gradient);

		border-bottom: 1px solid rgb(0 0 0 / .05)
	}

[mv-permissions~="logout"] .mv-bar h2 {
			margin: 0;

			flex: 1;

			display: flex;
			gap: .3em;
			align-items: center;

			line-height: 1.1
		}

[mv-permissions~="logout"] .mv-bar h2::before {
				display: inline-block;
				inline-size: 1.1em;
				aspect-ratio: 1;

				content: url("images/chatbubbles.svg");
			}

[mv-permissions~="logout"] .mv-bar > p {
			display: none;
		}

[mv-permissions~="logout"] .mv-bar .mv-logout {
			display: inline-grid;
			place-items: center;

			border: none;
			background: none;
		}

[mv-permissions~="logout"] .mv-bar .mv-logout > img {
				block-size: 65%;

				opacity: .85
			}

[mv-permissions~="logout"] .mv-bar .mv-logout > img:where(:hover, :active, :focus) {
					opacity: 1;
					filter: brightness(250%);
				}

[mv-permissions~="logout"] .mv-bar .mv-logout {

			cursor: pointer;
		}

.mv-bar h2 {
		cursor: default;
	}

.mv-bar button {
		cursor: pointer;
	}

article[property="messages"] {
	display: grid;
	grid-template-columns: var(--avatar-size) 1fr;
	grid-template-areas:
		"time   time"
		"  .    name"
		"avatar message";
	gap: 0.3em;

	margin: 0.5em 1em;

	color: #718096
}

article[property="messages"][mv-mode="edit"] .action-buttons {
			opacity: 1
		}

article[property="messages"][mv-mode="edit"] .action-buttons	.mv-delete {
				display: none;
			}

article[property="messages"] [property="sender"] {
		display: contents
	}

article[property="messages"] [property="sender"] [property="avatar"] {
			grid-area: avatar;
			align-self: end;

			inline-size: var(--avatar-size);
			aspect-ratio: 1;

			border-radius: 50%;
			object-fit: cover;

			overflow: hidden;
		}

article[property="messages"] [property="sender"] [property="name"] {
			grid-area: name;

			font-size: 80%;
		}

article[property="messages"] [property="message"] {
		grid-area: message;

		inline-size: 80%;
		margin: 0;
		padding: 0.2em 0.5em;

		border-radius: 0.8em;

		color: var(--bubble-color, black);
		background-color: var(--bubble-bg-color, white)
	}

article[property="messages"] [property="message"] * {
			max-inline-size: 100%;
			color: inherit;
		}

article[property="messages"] [property="message"] .mv-editor {
			margin: 1em 0 !important
		}

article[property="messages"] [property="message"] .mv-editor:focus {
				box-shadow: none !important;
			}

:hover:is(article[property="messages"] [property="message"]) ~ .action-buttons {
			opacity: 1;
		}

article.deleted[property="messages"] .mv-empty[property="message"] {
			display: revert;
		}

article.deleted[property="messages"] [property="message"] > p {
			display: none;
		}

article.deleted[property="messages"] [property="message"]::before {
			content: "🚫 This message was deleted.";

			display: block;
			margin-block: 1em;

			font-style: italic;
		}

article[property="messages"]:not(.mine, .thread) [property="message"] {
		border-bottom-left-radius: initial;
	}

article[property="messages"] .timestamp {
		grid-area: time;

		margin: 1em 0;
		margin-block-start: 1.3em;
		font-size: 70%;
		text-transform: uppercase;
		text-align: center;
	}

article[property="messages"] .action-buttons {
		opacity: 0;
		position: absolute;
		right: -0.3em;
		bottom: -0.7em;
		z-index: 1
	}

article[property="messages"] .action-buttons button {
			all: unset;

			cursor: pointer;
			padding: 0.2em 0.3em;
			border: 1px solid rgb(0 0 0 / 0.1);
			border-radius: calc(0.3em + 1px);
			background-color: ghostwhite;
			box-shadow: 0 0.1em 0.15em rgb(0 0 0 / 0.12);
			font-size: 80%;
			text-align: center;
		}

article[property="messages"] .action-buttons .edit-button:hover,
			article[property="messages"] .action-buttons .edit-button:focus {
				background-color: hsl(50 100% 85%);
			}

article[property="messages"] .action-buttons .mv-delete:hover,
			article[property="messages"] .action-buttons .mv-delete:focus {
				background-color: hsl(0 100% 95%);
			}

article[property="messages"] .action-buttons:hover {
			opacity: 1;
		}

article[property="messages"].mine {
	grid-template-columns: 1fr;
	grid-template-areas:
		"time"
		"message"
}

article.mine[property="messages"] [property="sender"] {
		display: none;
	}

article.mine[property="messages"] [property="message"] {
		--bubble-color: #f7fafc;
		--bubble-bg-color: hsl(285 40% 50%);

		justify-self: end;
	}

article.mine[property="messages"]:not(.thread) [property="message"] {
			border-bottom-right-radius: initial;
		}

article[property="messages"].thread {
	margin-block-end: -.7em
}

article.thread.mine[property="messages"] {
		margin-block-end: -.5em;
	}

form {
	--bg-color: hsl(285 40% 38%);

	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;

	margin-block-start: 0.7em;
	padding: .5em .3em;
	padding-inline-start: .75em;

	display: flex;
	align-items: center;

	font-size: 120%;
	line-height: 1.4em;

	background-color: hsl(210 38% 95%);
	border-top: 1px solid rgb(0 0 0 / .05)
}

form [property="message"] {
		flex: 1;
		margin-inline-end: .5em;
		padding: .5em .7em;

		color: inherit;

		border: none;
		border-radius: 5em;

		outline-color: var(--bg-color);

		font-family: inherit;
		font-size: inherit;
		line-height: inherit
	}

form [property="message"]::placeholder {
			opacity: .7;
		}

form > [type="submit"] {
		display: inline-grid;
		place-items: center;

		border: none;
		background: none
	}

form > [type="submit"] > img {
			inline-size: 2.2em;
		}

form > [type="submit"] {

		cursor: pointer
	}

form > [type="submit"]:disabled {
			opacity: .5;
			cursor: not-allowed;
		}

form > [type="submit"]:not(:disabled) > img:where(:hover, :active, :focus) {
				filter: hue-rotate(45deg) brightness(120%);
			}

[mv-progress="Loading"] > * {
	visibility: hidden;
}

.mv-message.mv-error {
	display: none;
}

@media (any-pointer: coarse) {
	[property="message"] ~ .action-buttons {
		bottom: -1em;

		button {
			font-size: 100%;
		}
	}
}

@media (max-width: 580px) {
		[mv-permissions~="login"] .mv-bar {
			grid-template-columns: repeat(4, 3.5em)
		}

			[mv-permissions~="login"] .mv-bar h2 {
				font-size: 400%;
			}

			[mv-permissions~="login"] .mv-bar > p {
				font-size: 90%;
			}

			[mv-permissions~="login"] .mv-bar button {
				inline-size: 3.2em;
			}
}
