:root {
	--font-body: system-ui, sans-serif;
	--rooms-panel-size: 225px;

	--color: white;

	--bubble-color: hsl(218 23% 23%);
	--bubble-bg-color: hsl(210 38% 95%);

	--avatar-size: 2em;

	--gradient: linear-gradient(to left, hsl(341 65% 48%), hsl(285 40% 38%));

	block-size: 100vh;
	background-color: hsl(204 45% 98%);
}

body {
	inline-size: clamp(360px, 100%, 900px);
	block-size: 100%;
	margin: auto;

	display: grid;
	place-items: center;

	font: 14px var(--font-body);
}

[mv-app="chat"] {
	inline-size: 100%;

	display: grid;

	background-color: white;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -1px rgb(0 0 0 / .06);
}

[mv-app="chat"][mv-permissions~="login"] {
	background-color: inherit;
	box-shadow: none
}

[mv-app="chat"][mv-permissions~="login"] .mv-bar {
		margin: auto;

		display: grid;
		grid-template-columns: repeat(4, 5.5em);
		grid-template-rows: repeat(3, auto);
		place-items: center;
		gap: .5em
	}

[mv-app="chat"][mv-permissions~="login"] .mv-bar h1 {
			margin: 0;

			font-size: 800%;
			font-weight: 900;
			text-align: center;
			letter-spacing: -.03em;

			white-space: nowrap;

			color: transparent;
			-webkit-background-clip: text;
			background-image: var(--gradient)
		}

[mv-app="chat"][mv-permissions~="login"] .mv-bar h1 > :where(label, #backdrop) {
				display: none;
			}

[mv-app="chat"][mv-permissions~="login"] .mv-bar :where(h1, p) {
			grid-column: span 4;
		}

[mv-app="chat"][mv-permissions~="login"] .mv-bar > p {
			color: hsl(216 15% 52%);
			font-size: 110%;
			font-weight: 300;
		}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button {
			all: unset;

			border-radius: 50%;

			text-indent: -10000px;
  		white-space: nowrap;

			inline-size: 5em;
			aspect-ratio: 1;

			background-position: center;
			background-size: 60%;
			background-repeat: no-repeat;
			background-color: hsl(285 40% 38%);

			cursor: pointer
		}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button[class*="auth-google"] {
				background-image: url("images/logo-google.svg");
				background-position: calc(50% - .02em) 50%;
			}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button[class*="auth-facebook"] {
				background-image: url("images/logo-facebook.svg");
				background-size: 52%;
				background-position: calc(50% - .08em) 50%;
			}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button[class*="auth-twitter"] {
				background-image: url("images/logo-twitter.svg");
			}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button[class*="auth-github"] {
				background-image: url("images/logo-github.svg");
				background-size: 72%;
			}

[mv-app="chat"][mv-permissions~="login"] .mv-bar button:where(:hover, :active, :focus) {
				filter: hue-rotate(45deg) brightness(120%);
			}

[mv-app="chat"][mv-permissions~="logout"] {
	block-size: 100%;

	grid-template-rows: auto 1fr auto;
	align-items: end
}

[mv-app="chat"][mv-permissions~="logout"] > #no-messages {
		place-self: center;

		margin: 1em;
		margin-inline-start: calc(var(--rooms-panel-size) + 1em);

		color: hsl(216 15% 60%);

		text-align: center;
		font-size: 140%;
		font-weight: 100;
		line-height: 1.2;
	}

[mv-app="chat"][mv-permissions~="logout"] > #rooms {
		block-size: 100%;
		inline-size: var(--rooms-panel-size);

		position: fixed;
		top: 0;
		bottom: 0;

		overflow: scroll;

		background-color: whitesmoke;
		border-right: 1px solid rgb(0 0 0 / .05);

		z-index: 1
	}

[mv-app="chat"][mv-permissions~="logout"] > #rooms h2 {
			padding: .7em .5em;
			margin: 0;
			margin-block-start: 2.3em;

			position: fixed;
			inline-size: calc(var(--rooms-panel-size) - 1em);
			z-index: 2;

			display: flex;
			justify-content: space-between;
			align-items: baseline;

			color: hsl(285 40% 38%);
			background-color: inherit;

			font-weight: 500;
			text-transform: uppercase;

			cursor: default
		}

[mv-app="chat"][mv-permissions~="logout"] > #rooms h2 button {
				all: unset;

				padding: .1em .2em;

				border-radius: .2em;
				border: 2px solid transparent;

				color: inherit;

				cursor: pointer
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms h2 button:where(:hover, :active, :focus):not(:disabled) {
					border-color: hsl(285 40% 38%);
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms h2 button:disabled {
					cursor: not-allowed;
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms ul {
			padding: 0;
			margin: 0;
			margin-block-start: 7.3em;

			list-style: none;

			color: hsl(0 0% 30%);
			font-size: 110%;

			cursor: pointer
		}

[mv-app="chat"][mv-permissions~="logout"] > #rooms ul > li {
				--line-width: 3px;
				--padding-inline: .7em;
				padding: var(--padding-inline);
				padding-inline-start: calc(var(--padding-inline) - var(--line-width));

				border-left: var(--line-width) solid transparent;

				font-weight: 300
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms ul > li:where(:hover, .active) {
					background-color: hsl(0 0% 92%);
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms ul > li.active {
					color: hsl(341 65% 48%);
					border-color: hsl(341 65% 48%);

					font-weight: 700;

					cursor: default;
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form {
			--color: hsl(341 65% 48%);

			padding: .7em;

			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: .5em
		}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > * {
				font: inherit;
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > [type="text"] {
				grid-column: span 2;

				padding: .3em .4em;

				border: 1px solid rgb(0 0 0 / .2);
				border-radius: .2em;
				box-shadow: 0 .05em .1em rgb(0 0 0 / .2) inset;
				background: whitesmoke;

			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > :not([type="text"]) {
				all: unset;

				display: inline-block;
				padding: .3em .2em;

				text-align: center;

				border-radius: .2em;

				cursor: pointer
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > :not([type="text"]):where(:hover, :active, :focus):not(:disabled) {
					filter: brightness(120%);
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > :not([type="text"]):disabled {
					opacity: .5;
					cursor: not-allowed;
				}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > [type="submit"] {
				background-color: var(--color);
				color: whitesmoke;
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > [type="reset"] {
				border: 1px solid var(--color);
				color: var(--color)
			}

[mv-app="chat"][mv-permissions~="logout"] > #rooms > form > [type="reset"]:where(:hover, :active, :focus):not(:disabled) {
					background-color: var(--color);
					color: whitesmoke;
				}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar {
		block-size: 3.5em;

		grid-row: 1;

		display: flex;
		align-items: center;

		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;

		padding-inline-start: 1em;
		padding-inline-end: .3em;

		color: var(--color);
		background-image: var(--gradient);

		border-bottom: 1px solid rgb(0 0 0 / .05)
	}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 {
			margin: 0;
			min-inline-size: 0;

			flex: 1;

			display: flex;
			gap: .3em;
			align-items: center;

			line-height: 1.1;
			font-size: 160%
		}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1::before {
				display: inline-block;
				inline-size: 1.1em;
				aspect-ratio: 1;

				content: url("images/chatbubbles.svg");
			}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > :where(label, #backdrop) {
				display: none;
			}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar > p {
			display: none;
		}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar .mv-logout {
			block-size: 100%;
			flex-shrink: 0;

			display: inline-grid;
			place-items: center;

			border: none;
			background: none;
		}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar .mv-logout > img {
				block-size: 2.8em;

				opacity: .85
			}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar .mv-logout > img:where(:hover, :active, :focus) {
					opacity: 1;
					filter: brightness(250%);
				}

[mv-app="chat"][mv-permissions~="logout"] .mv-bar .mv-logout {

			cursor: pointer;
		}

[mv-app="chat"] .mv-bar h1 {
		cursor: default;
	}

[mv-app="chat"] .mv-bar button {
		cursor: pointer;
	}

section[property="messages"] {
	margin-inline-start: var(--rooms-panel-size);
}

article[property="messages"] {
	display: grid;
	grid-template-columns: var(--avatar-size) 1fr;
	grid-template-areas:
		"time   time"
		"  .    name"
		"avatar message";
	gap: 0.3em;

	margin: 0.5em 1em;

	color: hsl(216 15% 52%)
}

article[property="messages"][mv-mode="edit"] .action-buttons {
			opacity: 1
		}

article[property="messages"][mv-mode="edit"] .action-buttons	.mv-delete {
				display: none;
			}

article[property="messages"] [property="sender"] {
		display: contents
	}

article[property="messages"] [property="sender"] [property="avatar"] {
			grid-area: avatar;
			align-self: end;

			inline-size: var(--avatar-size);
			aspect-ratio: 1;

			border-radius: 50%;
			object-fit: cover;

			overflow: hidden;
		}

article[property="messages"] [property="sender"] [property="name"] {
			grid-area: name;

			font-size: 80%;
		}

article[property="messages"] [property="message"] {
		position: relative;

		grid-area: message;

		inline-size: 80%;
		margin: 0;
		padding: 0.2em 0.5em;

		border-radius: 0.8em;

		color: var(--bubble-color, black);
		background-color: var(--bubble-bg-color, white)
	}

article[property="messages"] [property="message"] * {
			max-inline-size: 100%;
			color: inherit;
		}

article[property="messages"] [property="message"] .mv-editor {
			margin: 1em 0 !important
		}

article[property="messages"] [property="message"] .mv-editor:focus {
				box-shadow: none !important;
			}

:hover:is(article[property="messages"] [property="message"]) ~ .action-buttons {
			opacity: 1;
		}

article.deleted[property="messages"] .mv-empty[property="message"] {
			display: revert;
		}

article.deleted[property="messages"] [property="message"] > p {
			display: none;
		}

article.deleted[property="messages"] [property="message"]::before {
			content: "🚫 This message was deleted.";

			display: block;
			margin-block: 1em;

			font-style: italic;
		}

article[property="messages"]:not(.mine, .thread) [property="message"] {
		border-bottom-left-radius: initial;
	}

article[property="messages"] .timestamp {
		grid-area: time;

		margin: 1em 0;
		margin-block-start: 1.3em;
		font-size: 70%;
		text-transform: uppercase;
		text-align: center;
	}

article[property="messages"] .action-buttons {
		opacity: 0;
		position: absolute;
		right: -0.3em;
		bottom: -0.4em;
		z-index: 1
	}

article[property="messages"] .action-buttons button {
			all: unset;

			cursor: pointer;
			padding: 0.2em 0.3em;
			border: 1px solid rgb(0 0 0 / 0.1);
			border-radius: calc(0.3em + 1px);
			background-color: ghostwhite;
			box-shadow: 0 0.1em 0.15em rgb(0 0 0 / 0.12);
			font-size: 90%;
			text-align: center;
		}

article[property="messages"] .action-buttons .action-button:hover,
			article[property="messages"] .action-buttons .action-button:focus {
				background-color: hsl(50 100% 85%);
			}

article[property="messages"] .action-buttons .mv-delete:hover,
			article[property="messages"] .action-buttons .mv-delete:focus {
				background-color: hsl(0 100% 95%);
			}

article[property="messages"] .action-buttons:hover {
			opacity: 1;
		}

article[property="messages"].mine {
	grid-template-columns: 1fr;
	grid-template-areas:
		"time"
		"message"
}

article.mine[property="messages"] [property="sender"] {
		display: none;
	}

article.mine[property="messages"] [property="message"] {
		--bubble-color: hsl(204 45% 98%);
		--bubble-bg-color: hsl(285 40% 50%);

		justify-self: end;
	}

article.mine[property="messages"]:not(.thread) [property="message"] {
			border-bottom-right-radius: initial;
		}

article[property="messages"].thread {
	margin-block-end: -.7em
}

article.thread.mine[property="messages"] {
		margin-block-end: -.5em;
	}

[mv-app="chat"] > form {
	--bg-color: hsl(285 40% 38%);

	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;

	margin-block-start: 0.7em;
	margin-inline-start: var(--rooms-panel-size);
	padding: .5em .3em;
	padding-inline-start: .75em;

	display: flex;
	align-items: center;

	font-size: 120%;
	line-height: 1.4em;

	background-color: hsl(210 38% 95%);
	border-top: 1px solid rgb(0 0 0 / .05)
}

[mv-app="chat"] > form [property="message"] {
		flex: 1;
		margin-inline-end: .5em;
		padding: .5em .7em;

		color: inherit;

		border: none;
		border-radius: 5em;

		outline-color: var(--bg-color);

		font-family: inherit;
		font-size: inherit;
		line-height: inherit
	}

[mv-app="chat"] > form [property="message"]::placeholder {
			opacity: .7;
		}

[mv-app="chat"] > form > [type="submit"] {
		display: inline-grid;
		place-items: center;

		border: none;
		background: none
	}

[mv-app="chat"] > form > [type="submit"] > img {
			inline-size: 2.2em;
		}

[mv-app="chat"] > form > [type="submit"] {

		cursor: pointer
	}

[mv-app="chat"] > form > [type="submit"]:disabled {
			opacity: .5;
			cursor: not-allowed;
		}

[mv-app="chat"] > form > [type="submit"]:not(:disabled) > img:where(:hover, :active, :focus) {
				filter: hue-rotate(45deg) brightness(120%);
			}

[mv-app="chat"][mv-permissions~="login"][mv-progress="Loading"] > *  {
		visibility: hidden;
	}

[mv-app="chat"][mv-permissions~="logout"][mv-progress="Loading"] #no-messages  {
		opacity: 0;
	}

.mv-message:where(.mv-error, .mv-deleted) {
	display: none;
}

@media (any-pointer: coarse) {
	[property="message"] ~ .action-buttons {
		bottom: -1em;

		button {
			font-size: 100%;
		}
	}
}

@media (max-width: 830px) {
	:root {
		--rooms-panel-size: 200px;
	}
}

@media (max-width: 580px) {
	:root {
		--rooms-panel-size: 300px;
	}
		[mv-app="chat"][mv-permissions~="login"] .mv-bar {
			grid-template-columns: repeat(4, 3.5em)
		}

			[mv-app="chat"][mv-permissions~="login"] .mv-bar h1 {
				font-size: 400%;
			}

			[mv-app="chat"][mv-permissions~="login"] .mv-bar > p {
				font-size: 90%;
			}

			[mv-app="chat"][mv-permissions~="login"] .mv-bar button {
				inline-size: 3.2em;
			}
		[mv-app="chat"][mv-permissions~="logout"] > #no-messages {
			margin-inline-start: revert;
			font-size: 110%;
		}

		[mv-app="chat"][mv-permissions~="logout"] > #rooms {
			z-index: 3;

			transition: transform .2s ease-out
		}

			[mv-app="chat"][mv-permissions~="logout"] > #rooms:not(.visible) {
				transform: translateX(-300px);
			}

			[mv-app="chat"][mv-permissions~="logout"] > #rooms > h2 {
				margin-block-start: 0;
			}

			[mv-app="chat"][mv-permissions~="logout"] > #rooms ul {
				margin-block-start: 4.2em;
			}

		[mv-app="chat"][mv-permissions~="logout"] .mv-bar {
			min-inline-size: 0;
			padding-inline-start: .5em
		}
				[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1::before {
					inline-size: 0;
					transform: scale(0);
				}

				[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > span {
					display: none;
				}

				[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > label {
					min-inline-size: 0;

					display: flex;
					align-items: center
				}

					[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > label > span {
						min-inline-size: 0;

						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}

					[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > label::before {
						flex-shrink: 0;

						display: inline-block;
						margin-inline-end: .2em;
						inline-size: 1em;
						block-size: 1em;

						content: url("images/menu.svg");
					}

					[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > label > [type="checkbox"] {
						inline-size: 0;
						transform: scale(0);
					}

				[mv-app="chat"][mv-permissions~="logout"] .mv-bar h1 > #backdrop.visible {
					display: revert;

					position: fixed;
					inset: 0;

					background-color: rgb(0 0 0 / .3);

					z-index: 2;
				}

	section[property="messages"] {
		margin-inline-start: revert;
	}

	[mv-app="chat"] > form {
		margin-inline-start: revert;
	}
}
